{% extends 'base.html.twig' %}

{% block title %}ASCII Array{% endblock %}

{% block body %}
    <h1>Generated Array</h1>
    <p>{{ generatedArray|join(', ') }}</p>

    <h1>Missing Character</h1>
    <p>{{ missingCharacter }}</p>
{% endblock %}
