{% extends 'base.html.twig' %}

{% block title %}Hello PromotionController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h2>Randomly Selected Design: {{ randomDesignId }}</h2>
    </div>
{% endblock %}
