<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}EXADS TEST!{% endblock %}</title>
        <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAXVBMVEX////e8P0Lq/YAqvb4/f8Ap/YAovWS0Prv+P6u2vtFtfcCqPYApfZSufgAnfUApPYAoPWCyvnH5vy23/uu3Ptvw/lhvvgqsPe+4vxzxPlYu/g5sveY0/r2+//U7P0gSLmRAAAArUlEQVR4AcyRxQHEMAwEFViFmbH/Mk+KPwEVcBP0jtn0H3h+INguhMDRI4sTRX5SZFle0FOWVVXVCTWcZfh0WkDSohWX1d5bdhoD8uL+OxGVSjXQlxGXw0QGs2vKMVngcq3p4ktWZDK5lrPllipTMBqu58zB4cd56nLtuOo/MoPEjdvCt1tzSTfpG0AdP93O4nAQbdM0+efDnbUehWQWec1cJmQTHscR/ka/RAoA8QkI/lvkQ+8AAAAASUVORK5CYII=">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
